<nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('publeash_default_index') }}">PubLeash</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user is not empty %}
                    {#<li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>#}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><img src="{{ gravatar(app.user.email, 30, 'g') }}" style="padding-right: 10px; margin-top: -10px; margin-bottom: -10px" />{{ app.user.username }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="#" data-target="#user_modal" data-toggle="modal"><span class="glyphicon glyphicon-log-in" aria-hidden="false" style="color: #7a7a7a; padding-right: 10px; font-size: 25px; margin: -10px 0 -10px; top: 6px"></span>Login</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="false"></span></button>
                </span>
                </div><!-- /input-group -->
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- Modal -->
<div class="modal fade" id="user_modal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" style="padding-top: 150px">
    {#<div class="modal-body">#}
    {% if app.user is empty %}
        {#{{ render(controller('FOSUserBundle:Profile:show')) }}#}
    {#{% else %}#}
        {{ render(controller('FOSUserBundle:Security:loginModal')) }}
    {% endif %}
    {#</div>#}
</div>