{% extends '@PubLeash/layout.html.twig' %}

{% block body %}
    Publication
    {#{{ dump(paginator) }}#}

    {% for publication in paginator.iterator %}
        {#{{ dump(publication) }}#}
    {% endfor %}

    {% if max_pages > 1 %}
        <div class="text-center">
            <ul class="pagination pagination-sm center-block">
                {# `«` arrow  #}
                <li {{ current_page == 1 ? 'class="disabled"' }}>
                    <a href="{{ path(app.request.attributes.get('_route'), {page: current_page-1 < 1 ? 1 : current_page-1}) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..max_pages %}
                    <li {{ current_page == i ? 'class="active"' }}>
                        <a href="{{ path(app.request.attributes.get('_route'), {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ current_page == max_pages ? 'class="disabled"' }}>
                    <a href="{{ path(app.request.attributes.get('_route'), {page: current_page+1 <= max_pages ? current_page+1 : current_page}) }}">»</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
