{% trans_default_domain 'PubLeashBundle' %}
{% extends '@PubLeash/layout.html.twig' %}
{% import '@PubLeash/layout.html.twig' as layout %}

{% block side_nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            {#<li>#}
            {#<a href="#"><i class="glyphicon glyphicon-home"></i> </a>#}
            {#</li>#}
            {% if publication_service.allowedEdit(chapter.publication) %}
            <li data-toggle="tooltip" data-placement="right" title="Edit chapter">
                <a href="{{ path('publeash_publication_editchapter', {chapterId: chapter.id}) }}">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </li>
            {% endif %}

            {% if publication_service.allowedEdit(chapter.publication) %}
                    <li data-toggle="tooltip" data-placement="right" title="Publish" class="{%  if chapter.isPublished %} hidden {% endif %}">
                        <a role="button" id="publish-action" data-publication-id="{{ chapter.publication.id }}"
                           data-chapter-id="{{ chapter.id }}"><i class="glyphicon glyphicon-ok"></i>
                        </a>
                    </li>
                    <li data-toggle="tooltip" data-placement="right" title="Unpublish" class="{%  if not chapter.isPublished %} hidden {% endif %}">
                        <a role="button" id="unpublish-action" data-publication-id="{{ chapter.publication.id }}"
                           data-chapter-id="{{ chapter.id }}"><i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </li>
            {% endif %}
        </ul>
    </nav>
    <script type="application/javascript">
        $(document).ready(function () {
            $('#wrapper').css('padding-left', '55px');
            $('#sidebar-wrapper').css('width', '55px');

            $('#publish-action').on('click', function() {
                var publicationId = $('#unpublish-action').attr('data-publication-id');
                var chapterId = $('#unpublish-action').attr('data-chapter-id');
                PubLeash.makeApiCall('chapter', 'publish', [publicationId, chapterId], function(data) {
                    console.log(data);
                    if(data.code == 200) {
                        $('#publish-action').parent().addClass('hidden');
                        $('#unpublish-action').parent().removeClass('hidden');
                        PubLeash.addFlashMessage('alert-success', data.message);
                    } else {
                        PubLeash.addFlashMessage('alert-danger', data.message);
                    }
                });

            });
            $('#unpublish-action').on('click', function() {
                var publicationId = $('#unpublish-action').attr('data-publication-id');
                var chapterId = $('#unpublish-action').attr('data-chapter-id');
                PubLeash.makeApiCall('chapter', 'unpublish', [publicationId, chapterId], function(data) {
                    console.log(data);
                    if(data.code == 200) {
                        $('#unpublish-action').parent().addClass('hidden');
                        $('#publish-action').parent().removeClass('hidden');
                        PubLeash.addFlashMessage('alert-success', data.message);
                    } else {
                        PubLeash.addFlashMessage('alert-danger', data.message);
                    }
                });
            })
        });
    </script>
{% endblock %}

{% block body %}
    <div class="row publication-show">
        <div class="container-fluid">
            {% if not publication_service.allowedShow(chapter.publication) %}
                <div class="page-header">
                    <h1>{{ 'publication.show.noauthor'|trans }}</h1>
                </div>
            {% else %}
                <div class="page-header">
                    <h1>{{ chapter.title }}
                        {{ layout.stars(chapter.publication.rank) }}
                    </h1>

                </div>
                <div class="author row">
                    <span class="text-left col-md-6">
                        {{ 'publication.author'|trans }}:
                        {% for author in chapter.publication.authors %}
                            {{ author.username }} {{ (loop.last == false) ? ',' : '' }}
                        {% endfor %}
                    </span>
                    <span class="text-right col-md-6">
                        {{ 'publication.date_create'|trans }}: {{ chapter.dateCreate }}
                        {{ 'publication.date_update'|trans }}: {{ chapter.dateUpdate }}
                    </span>
                </div>
                <div class="row">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="fr-view">
                                    {{ chapter.content | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-header">
                    <h3>{{ 'publication.reviews'|trans }}</h3>
                </div>
                {{ layout.reviews(chapter.reviews) }}
                {% if review_service.allowedToWriteReview(chapter) %}
                    {{ layout.send_commentary() }}
                {% endif %}
                {{ layout.send_commentary_script(chapter, 'chapter') }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

