{% trans_default_domain 'PubLeashBundle' %}
{% extends '@PubLeash/layout.html.twig' %}
{% import '@PubLeash/layout.html.twig' as layout %}

{% block title %}
    - {{ publication.title }}
{% endblock %}

{% block side_nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            {#<li>#}
            {#<a href="#"><i class="glyphicon glyphicon-home"></i> </a>#}
            {#</li>#}
            {% if publication_service.allowedEdit(publication) %}
                <li data-toggle="tooltip" data-placement="right" title="Edit publication">
                    <a href="{{ path('publeash_publication_editpublication', {publicationId: publication.id, name: publication.prettyUrlTitle}) }}">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </li>
            {% endif %}
            {% if publication_service.allowedDelete(publication) %}
                <li data-toggle="tooltip" data-placement="right" title="Delete chapter">
                    <a role="button" data-toggle="modal"
                            data-target="#confirmDeleteModal" data-id="{{ publication.id }}"
                            data-title="{{ publication.title }}"><i class="glyphicon glyphicon-remove"></i>
                    </a>
                </li>
            {% endif %}
            {% if publication_service.allowedEdit(publication) %}
                <li data-toggle="tooltip" data-placement="right" title="Add chapter">
                    <a href="{{ path('publeash_publication_addchapter', {publicationId: publication.id}) }}">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </li>
            {% endif %}
            {% if not publication_service.userIsOwner(publication) %}
                <li data-toggle="tooltip" data-placement="right" title="Add to library">
                    <a role="button" id="add-to-library-action" data-publication-id="{{ publication.id }}"><i class="glyphicon glyphicon-download-alt"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <script type="application/javascript">
        $(document).ready(function () {
            $('#wrapper').css('padding-left', '55px');
            $('#sidebar-wrapper').css('width', '55px');
        });
    </script>
{% endblock %}

{% block body %}
    <script type="text/javascript">
        $(function () {
            $('#confirmDeleteModal').on('show.bs.modal', function (event) {
                var baseUrl = "{{ path('publeash_publication_removepublication', {publicationId: '{publicationId}'}) }}";
                var baseCaption = "{{ 'publication.confirm.delete.claim'|trans }}";
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var title = button.data('title');

                var modal = $(this);

                var modalUrl = modal.find('#confirm-delete');
                var modalBody = modal.find('.modal-body');

                modalBody.text(baseCaption.replace('{publicationTitle}', title));
                modalUrl.attr('href', encodeURI(decodeURI(baseUrl).replace('{publicationId}', id)));
                modalUrl.attr('href', encodeURI(decodeURI(modalUrl.attr('href')).replace('{publicationId}', id)));
            })

            $('#add-to-library-action').on('click', function() {
                var publicationId = $('#add-to-library-action').attr('data-publication-id');
                PubLeash.makeApiCall('publication', 'add_to_library', [publicationId], function(data) {
                    console.log(data);
                    if(data.code == 200) {
                        $('#add-to-library-action').parent().remove();
                        PubLeash.addFlashMessage('alert-success', data.message);
                    } else {
                        PubLeash.addFlashMessage('alert-danger', data.message);
                    }
                });
            })
        });

    </script>
    <!-- /#sidebar-wrapper -->
    <div class="row publication-show">
        <div class="container-fluid">
            {% if not publication_service.allowedShow(publication) %}
                <div class="page-header">
                    <h1>{{ 'publication.show.noauthor'|trans }}</h1>
                </div>
            {% else %}
                <div class="page-header">
                    <h1>{{ publication.title }}
                        {{ layout.stars(publication.rank) }}
                    </h1>

                </div>
                <div class="author row">
            <span class="text-left col-md-6">
            {{ 'publication.author'|trans }}:
                {% for author in publication.authors(true) %}
                    {{ author.username }} {{ (loop.last == false) ? ',' : '' }}
                {% endfor %}
            </span>
            <span class="text-right col-md-6">
                {{ 'publication.date_create'|trans }}: {{ publication.dateCreate }}
                {{ 'publication.date_update'|trans }}: {{ publication.dateUpdate }}
            </span>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ publication.description }}
                    </div>
                </div>
                <div class="page-header">
                    <h3>{{ 'publication.chapters.available'|trans }}<span>
                        </span>
                    </h3>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% set chapters = publication.chapters %}
                        {% for chapter in chapters %}
                            {% if chapter.isPublished or publication_service.allowedEdit(publication) or publication_service.allowedDelete(publication) %}
                            <div class="bs-callout bs-callout-info"
                                 onclick="location.href='{{ path('publeash_publication_showpublicationchapter', { "publicationId": publication.id, "chapterId": chapter.id }) }}'">
                                <div class="page-header">
                                    <h3>{{ chapter.title }}
                                </div>
                                <div class="row author">
                                <span class="text-right col-md-6 col-md-offset-6">
                                    {{ 'publication.date_create'|trans }}: {{ chapter.dateCreate }}
                                    {{ 'publication.date_update'|trans }}: {{ chapter.dateUpdate }}
                                </span>
                                </div>

                                {{ chapter.preview | raw }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="page-header">
                    <h3>{{ 'publication.reviews'|trans }}</h3>
                </div>
                {{ layout.reviews(publication.reviews) }}
            {% endif %}
        </div>
    </div>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="confirmDeleteModal">{{ 'publication.confirm.delete.title'|trans }}</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'main.close'|trans }}</button>
                    <a href="#" type="button" class="btn btn-danger" id="confirm-delete">{{ 'main.confirm'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}