{% trans_default_domain 'PubLeashBundle' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>PubLeash {% block title %}{% endblock %}</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="Night">
    {% block javascript %}
        {% javascripts '@PubLeashBundle/Resources/JavaScript/*'
        '@bootstrap_js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css'
        '@PubLeashBundle/Resources/Css/*' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="application/javascript">
        var apiUrl = '{{ path('publeash_api_request') }}';
    </script>
</head>

<body>
{% block navigation %}
    {{ include("PubLeashBundle:navigation.html.twig") }}
{% endblock %}
<div id="wrapper">
    <div class="row">
        <div class="container-fluid">
            {% block side_nav %}
            {% endblock %}
            <div class="">
                {% block breadcrumbs %}
                    {{ include("PubLeashBundle:breadbrumbs.html.twig") }}
                {% endblock %}
                <div class="container-fluid" id="flash-messages"></div>
                <div class="container-fluid">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-5">

            {#{{ dump() }}#}
        </div>
    </div>
</div>
</body>
</html>

{% macro stars(rank) %}
    {% for i in 1..5 %}
        {% if rank >= 1 %}
            <i class="glyphicon glyphicon-star star-color"></i>
        {% elseif rank > 0 %}
            <i class="glyphicon glyphicon-star-half glyphicon-star-empty star-color"></i>
        {% else %}
            <i class="glyphicon glyphicon-star-empty star-color-empty"></i>
        {% endif %}
        {% set rank = (rank - 1) %}
    {% endfor %}
{% endmacro %}

{% macro reviews(data) %}
    <ul class="media-list" id="reviews">
        {% for review in data %}
            {{ _self.review(review) }}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro review(data) %}
    <li class="media panel panel-default review">
        {{ _self.review_body(data) }}
        {{ _self.subreviews(data.reviews) }}
        {{ _self.send_commentary(data.publication, 'publication', data.id) }}
    </li>
{% endmacro %}

{% macro subreviews(data) %}
        <ul class="media-list" id="subreviews">
        {% for subreview in data %}
            {{ _self.subreview(subreview) }}
        {% endfor %}
        </ul>
{% endmacro %}

{% macro subreview(data) %}
        <li class="media panel panel-default review">
            {{ _self.review_body(data) }}
        </li>
{% endmacro %}

{% macro review_body(data) %}
    <div class="media-left media-top">
        <a href="#">
            <img class="media-object" src="{{ gravatar(data.author.email, 64, 'g') }}"
                 alt="{{ data.author.username }}">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ data.author.username }}
            <small>{{ data.getDateCreate }}</small>
        </h4>
        <p>{{ data.text }}</p>
    </div>
{% endmacro %}

{% macro send_commentary(data, type, reviewId) %}
    <div class="container-fluid" id="commentary">
        <div class="form-group">
            <label for="comment">Review:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Enter your text..."></textarea>
        </div>
        <div class="form-group">
            <input type="submit" id="_submit" name="_submit" data-loading-text="Loading..." value="{{ 'trans.send.commentary'|trans }}"
                   class="btn btn-primary btn-bottom submit"/>
        </div>
    </div>
    <script type="application/javascript">
        $('.submit').unbind('click');
        $('.submit').on('click', function(){
            var block = $(this).parent().parent();
            var $btn = $(this).button('loading');
            var data = block.find('#comment').val();
            var id = {{ data.id }};
            var type = '{{ type }}';
            var reviewId = '{{ reviewId }}';
            var reviewsElementId = $.isNumeric(reviewId)?'subreviews':'reviews';
            PubLeash.makeApiCall('review', 'add', [id, type, reviewId, data], function(data) {
                if(data.code == 200) {
                    block.parent().find('#' + reviewsElementId).append($.parseHTML(data.data.rendered_review));
                    if(!$.isNumeric(reviewId)) {
                        block.fadeOut('medium', function () {
                            block.remove();
                        });
                    }
                    block.find('#comment').val('');
                    $btn.button('reset');
                } else {

                }
            })
        })
    </script>
{% endmacro %}