{#{{ dump() }}#}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>PubLeash {% block title %}{% endblock %}</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="Night">
    {% block javascript %}
        {% javascripts '@PubLeashBundle/Resources/JavaScript/*'
        '@bootstrap_js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css'
        '@PubLeashBundle/Resources/Css/*' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
{% block navigation %}
    {{ include("PubLeashBundle:navigation.html.twig") }}
{% endblock %}
<div class="container-fluid">
{% block body %}
{% endblock %}
</div>
<div class="container">
    <div class="col-lg-5">

        {{ dump() }}
    </div>
</div>
</body>
</html>