{% trans_default_domain 'PubLeashBundle' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>PubLeash {% block title %}{% endblock %}</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="Night">
    {% block javascript %}
        {% javascripts '@PubLeashBundle/Resources/JavaScript/*'
        '@bootstrap_js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    {% block stylesheets %}
        {% stylesheets '@bootstrap_css'
        '@PubLeashBundle/Resources/Css/*' %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="application/javascript">
        var apiUrl = '{{ path('publeash_api_request') }}';
    </script>
</head>

<body>
{% block navigation %}
    {{ include("PubLeashBundle:navigation.html.twig") }}
{% endblock %}
<div id="wrapper">
    <div class="row">
        <div class="container-fluid">
            {% block side_nav %}
            {% endblock %}
            <div class="">
                {% block breadcrumbs %}
                    {{ include("PubLeashBundle:breadbrumbs.html.twig") }}
                {% endblock %}
                <div class="container-fluid" id="flash-messages"></div>
                <div class="container-fluid">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-5">

            {#{{ dump() }}#}
        </div>
    </div>
</div>
</body>
</html>

{% macro stars(rank) %}
    <a class="rating" data-toggle="modal" data-target=".bs-modal-sm">
        {% for i in 1..5 %}
            {% if rank >= 1 %}
                <i class="glyphicon glyphicon-star star-color" data-my-id="{{ i }}"></i>
            {% elseif rank > 0 %}
                <i class="glyphicon glyphicon-star-empty star-color" data-my-id="{{ i }}"></i>
            {% else %}
                <i class="glyphicon glyphicon-star-empty star-color-empty" data-my-id="{{ i }}"></i>
            {% endif %}
            {% set rank = (rank - 1) %}
        {% endfor %}
    </a>
{% endmacro %}

{% macro stars_script(publicationId) %}
    <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Rate this publication</h4>
                </div>
                <div class="modal-body text-center">
                    {% if not publication_service.userIsOwnerByPublicationId(publicationId) %}
                        <p>{{ 'trans.rating_not_alowed' | trans }}</p>
                    {% elseif not publication_service.hasUserRatedByPublicationId(publicationId) %}
                        {% for i in 1..5 %}
                            <i class="glyphicon glyphicon-star-empty star-color-empty star-select"
                               style="font-size: 40px" data-my-id="{{ i }}"></i>
                        {% endfor %}
                    {% else %}
                        <p>{{ 'trans.already_rated' | trans }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        $('.star-select').on('mouseover', function () {
            var id = $(this).attr('data-my-id');
            $(this).parent().find('i').each(function () {
                if ($(this).attr('data-my-id') <= id) {
                    $(this).removeClass('glyphicon-star-empty').removeClass('star-color-empty').addClass('glyphicon-star').addClass('star-color');
                }
            })
        });
        $('.star-select').on('mouseout', function () {
            var id = $(this).attr('data-my-id');
            $(this).parent().find('i').each(function () {
                if ($(this).attr('data-my-id') <= id) {
                    $(this).removeClass('glyphicon-star').removeClass('star-color').addClass('star-color-empty').addClass('glyphicon-star-empty');
                }
            })
        });

        $('.star-select').on('click', function () {
            PubLeash.makeApiCall('rating', 'add', [$(this).attr('data-my-id'), {{ publicationId }}], function (data) {
                if (data.code == 200) {
                    var rating = data.data.rating;
                    $('.rating').find('i').each(function () {
                        var starId = $(this).attr('data-my-id');
                        if (rating - starId < 0) { //empty star
                            $(this).removeClass('glyphicon-star')
                                    .removeClass('star-color')
                                    .removeClass('star-color-empty')
                                    .removeClass('glyphicon-star-empty')
                                    .addClass('star-color-empty')
                                    .addClass('glyphicon-star-empty');
                        } else if (rating - starId < 1 && rating - starId > 0) { //half star
                            $(this).removeClass('glyphicon-star')
                                    .removeClass('star-color')
                                    .removeClass('star-color-empty')
                                    .removeClass('glyphicon-star-empty')
                                    .addClass('star-color')
                                    .addClass('glyphicon-star-empty');
                        } else {//full star
                            $(this).removeClass('glyphicon-star')
                                    .removeClass('star-color')
                                    .removeClass('star-color-empty')
                                    .removeClass('glyphicon-star-empty')
                                    .addClass('glyphicon-star')
                                    .addClass('star-color');
                        }
                    });
                    $('.bs-modal-sm .modal-body').find('i').each(function () {
                        $(this).fadeOut('fast');
                    })
                    var text = $(document.createElement('p')).text(data.data.rated_message).hide();
                    $('.bs-modal-sm .modal-body').append(text);
                    $(text).fadeIn('fast');
                    $('.bs-modal-sm').modal('hide');
                    PubLeash.addFlashMessage('alert-success', data.message);
                }
            })
        })
    </script>
{% endmacro %}

{% macro reviews(data) %}
    <ul class="media-list" id="reviews">
        {% for review in data %}
            {{ _self.review(review) }}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro review(data) %}
    <li class="media panel panel-default review">
        {#{{ dump(data) }}#}
        {{ _self.review_body(data) }}
        {{ _self.subreviews(data.reviews) }}
        {% if review_service.isAllowedReplyReview(data) %}
            {{ _self.send_commentary(data.id) }}
        {% endif %}
    </li>
{% endmacro %}

{% macro subreviews(data) %}
    <ul class="media-list" id="subreviews">
        {% for subreview in data %}
            {{ _self.subreview(subreview) }}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro subreview(data) %}
    <li class="media panel panel-default review">
        {{ _self.review_body(data) }}
    </li>
{% endmacro %}

{% macro review_body(data) %}
    <div class="media-left media-top">
        <a href="#">
            <img class="media-object" src="{{ gravatar(data.author.email, 64, 'g') }}"
                 alt="{{ data.author.username }}">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">{{ data.author.username }}
            <small>{{ data.getDateCreate }}</small>
        </h4>
        <p>{{ data.text }}</p>
    </div>
{% endmacro %}

{% macro send_commentary(reviewId) %}
    <div class="container-fluid" id="commentary">
        <div class="form-group">
            <label for="comment">Review:</label>
            <textarea class="form-control" rows="5" id="comment" placeholder="Enter your text..."></textarea>
        </div>
        <div class="form-group">
            <input type="submit" id="_submit" name="_submit" data-loading-text="Loading..."
                   data-review-id="{{ reviewId }}" value="
            {% if reviewId > 0 %}
                {{ 'trans.send.comment_reply'|trans }}
            {% else %}
                {{ 'trans.send.comment'|trans }}
            {% endif %}
            "
                   class="btn btn-primary btn-bottom submit"/>
        </div>
    </div>
{% endmacro %}

{% macro send_commentary_script(data, type) %}
    <script type="application/javascript">
        function bind_post_comment() {
            $('.submit').unbind('click');
            $('.submit').on('click', function () {
                var block = $(this).parent().parent();
                var $btn = $(this).button('loading');
                var data = block.find('#comment').val();
                var id = {{ data.id }};
                var type = '{{ type }}';
                var reviewId = $(this).attr('data-review-id');
                var reviewsElementId = $.isNumeric(reviewId) ? 'subreviews' : 'reviews';
                PubLeash.makeApiCall('review', 'add', [id, type, reviewId, data], function (data) {
                    if (data.code == 200) {
                        var newReview = $.parseHTML(data.data.rendered_review);
                        $(newReview).hide();
                        block.parent().find('#' + reviewsElementId).append(newReview);
                        $(newReview).fadeIn('fast');

                        if (!$.isNumeric(reviewId)) {
                            block.fadeOut('medium', function () {
                                block.remove();
                            });
                        }
                        block.find('#comment').val('');
                        $btn.button('reset');
                        bind_post_comment();
                    } else {

                    }
                })
            })
        }
        bind_post_comment();
    </script>
{% endmacro %}